@model QuanLySinhVien.Models.GiaoVien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Bạn có chắc chắn muốn xóa Giáo viên này không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotengv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotengv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emaildct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emaildct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Madv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Madv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hocvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hocvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chucdanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chucdanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chucvu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chucvu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenviet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenviet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accriht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accriht)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Magv" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
