@model QuanLySinhVien.Models.SinhVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết Sinh viên</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenviet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenviet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noisinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noisinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emaildct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emaildct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diemts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diemts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenkd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenkd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diemrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diemrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qdtt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qdtt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cdrnn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cdrnn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cdrth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cdrth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScmndImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScmndImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dantoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dantoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Masv" class="a_as_btn" style="background-color: #2c7bfd; width: 150px;">Edit</a>
    <a asp-action="Index" class="a_as_btn" style="background-color: #bac0ca; width: 150px;">Back to list</a>
</div>
